{% extends 'base.html' %}

{% block title %}Privacy Policy - My Website{% endblock %}

{% block content %}
    <head>
      <title>Privacy policy</title>
    
    </head>
    
    <body>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <div class="header">
        <h1>our privacy policy is as follows:</h1>
      </div>
    
      <main>
        <div class="cards-container">
          <div class="cards_background">
            <div class="title_background">
              <h2 class="cards_h2">Look for your next destination now!</h2>
            </div>
          </div>
        </div>
        
              
              </div>
            </div>
          </div>
        </div>
      </main>
    </body>
    {% endblock %}