{% extends 'base.html' %}

{% block content %}
<main>
  <section>
      <h2>General Terms</h2>
      <p>
          By accessing and placing an order with [Your Company], you confirm that you are in agreement with and bound by the terms of service contained in the Terms & Conditions outlined below. These terms apply to the entire website and any email or other type of communication between you and [Your Company].
      </p>
  </section>
  <section>
      <h2>License</h2>
      <p>
          [Your Company] grants you a revocable, non-exclusive, non-transferable, limited license to download, install and use the service strictly in accordance with the terms of this Agreement.
      </p>
  </section>
  <section>
      <h2>Restrictions</h2>
      <p>
          You agree not to, and you will not permit others to:
          <ul>
              <li>License, sell, rent, lease, assign, distribute, transmit, host, outsource, disclose or otherwise commercially exploit the service or make the platform available to any third party.</li>
              <li>Modify, make derivative works of, disassemble, decrypt, reverse compile or reverse engineer any part of the service.</li>
              <li>Remove, alter or obscure any proprietary notice (including any notice of copyright or trademark) of [Your Company] or its affiliates, partners, suppliers or the licensors of the service.</li>
          </ul>
      </p>
  </section>
  <section>
      <h2>Amendments to this Agreement</h2>
      <p>
          [Your Company] reserves the right, at its sole discretion, to modify or replace this Agreement at any time. If a revision is material we will provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
      </p>
  </section>
  <section>
      <h2>Contact Information</h2>
      <p>
          If you have any questions about these Terms, please contact us at [Your Email or Contact Link].
      </p>
  </section>
</main>

{% endblock %}